packages: [
  "atom-jinja2"
  "atom-material-syntax"
  "atom-material-ui"
  "autocomplete-clang"
  "autocomplete-python"
  "autocomplete-ruby"
  "batman-syntax"
  "build-cargo"
  "busy-signal"
  "compare-files"
  "eval-javascript"
  "file-icons"
  "genesis-syntax"
  "genesis-ui"
  "hyperclick"
  "intentions"
  "language-haml"
  "language-latex"
  "language-ninja"
  "language-rspec"
  "language-rspec-plus"
  "language-rust"
  "language-slim"
  "latex"
  "latex-completions"
  "latex-plus"
  "latexer"
  "linter"
  "linter-chktex"
  "linter-cpplint"
  "linter-csslint"
  "linter-haml"
  "linter-javac"
  "linter-js-yaml"
  "linter-pep8"
  "linter-pycodestyle"
  "linter-python-pep257"
  "linter-ruby"
  "linter-rust"
  "linter-slim"
  "linter-stylint"
  "linter-ui-default"
  "markdown-pdf"
  "markdown-writer"
  "minimap"
  "minimap-git-diff"
  "nucleus-dark-ui"
  "package-sync"
  "pdf-view"
  "project-viewer"
  "python-isort"
  "python-yapf"
  "racer"
  "rails-i18n-autocomplete"
  "rails-rspec"
  "remote-atom"
  "rspec"
  "tokamak"
  "tokamak-terminal"
  "tool-bar"
  "vim-mode-plus"
  "wombat-dark-syntax"
  "you-complete-me"
]
